.App {
    /* font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; */
    /* height: 100vh; */
  }
#slider{
  display: flex;
  justify-content: center;
  align-items: center;
  height:270px;
  width: 415px;
  margin: 0 2px;
  
}
.carousel .thumb{
    margin:0 !important;
    display: none !important;

}
/* #heart { 
  position: relative; 
  width: 100px; 
  height: 90px; 
} 

#heart:before, #heart:after{
  position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: red; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%;
}
#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
} */
 



  
