.App {
    /* font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; */
    /* height: 100vh; */
  }
#slider{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 25%;
  margin: 0 2px;
  
}
.carousel .thumb{
    margin:0 !important;
    display: none !important;

}



  
